<h2><%= @page_title%></h2>
<%= form_for @student do |f| %>

<% if @student.errors.any? %>
  <% @student.errors.full_messages.each do |msg| %>
   <!-- show errors -->
     <div class="alert alert-danger"><%= msg %></div>
     <% end %>
  <% end %>
	<div class="form-group">
		<%= f.label :first_name%><br/>
		<%=f.text_field :first_name, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :last_name%><br/>
		<%=f.text_field :last_name, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :registration_number%><br/>
		<%=f.text_field :reg_number, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :email%><br/>
		<%=f.text_field :email, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :sex %><br/>
		<%=f.select :sex, options_for_select([['Male'], ['Female']]), {:include_blank => 'select one'}, class:'form-control'%>
	</div>
	<div class="progress" id="progress-bar" >
	<div class="progress-bar progress-bar-striped active", style='display:none', role="progressbar">
	</div>
	  <span class="sr-only" id="progress-bar-text"></span>
	</div>
	<div class="form-group">
		<%= f.label :image_profile%><br/>
		<%= image_tag  "user.jpg", class:'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :department%><br/>
		<%= f.select :department_id, Department.all.collect {|x|[x.name, x.id]}, {:include_blank => 'select one'}, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :level%><br/>
		<%= f.select :level, options_for_select([[1],[2],[3],[4]]),{:include_blank => 'select one'}, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :birth_date%><br/>
		<%=f.text_field :dob, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :mobile_number%><br/>
		<%=f.text_field :phone, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :father_name%><br/>
		<%=f.text_field :father_name, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :mother_name%><br/>
		<%=f.text_field :mother_name, class:'form-control'%>
	</div>
	<%= f.submit 'Submit',class:'btn btn-success' %>
		<%= link_to 'Cancel', root_path, class:'btn btn-danger'%>
<% end %>

