<h2><%= @page_title%></h2>
<%= form_for [:admin, @result] do |f| %>

<% if @result.errors.any? %>
  <% @result.errors.full_messages.each do |msg| %>
   <!-- show errors -->
     <div class="alert alert-danger"><%= msg %></div>
     <% end %>
  <% end %>
	<div class="form-group">
		<%= f.label :registration_number%><br/>
		<%= f.select :student_id, Student.all.collect {|x|[x.reg_number, x.id]}, {:include_blank => 'pick registration number'}, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :academic_year %><br/>
		<%=f.text_field :ac_year, placeholder:'2017-2018', class:'form-control'%>
	</div>
		<div class="form-group">
		<%= f.label :module%><br/>
		<%= f.select :course_id, Course.all.collect {|x|[x.module_name, x.id]}, {:include_blank => 'select one'}, class:'form-control'%>
	</div>		
	<div class="form-group">
		<%= f.label :department%><br/>
		<%= f.select :department_id, Department.all.collect {|x|[x.name, x.id]}, {:include_blank => 'select one'}, class:'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :level%><br/>
		<%= f.select :level, options_for_select([[1],[2],[3],[4]]), {:include_blank => 'select one'},class:'form-control'%>
	</div>
		<div class="form-group">
		<%= f.label :marks%><br/>
		<%=f.text_field :marks, class:'form-control'%>
		</div>
	<%= f.submit 'Submit',class:'btn btn-primary' %>
		<%= link_to 'Cancel', admin_results_path, class:'btn btn-default'%>
<% end %>

