<h2><%= @page_title%> <small> Year <%= @result.level %> <%= @result.department.name %></small></h2>
<% if @results.exists? %>
<div class="row">
      <div class="col-md-6 col-sm-6">
	  <%= link_to 'Save(PDF)', admin_result_path(format: 'pdf'), class:'btn btn-primary' %>
        </div>
        <div class="col-md-6 col-sm-6">
         <%= render  "partials/admin/search", class:'pull-right'%>
        </div>
      </div>
	<table class="table table-striped">
		<tr>
			<th>Registration Number</th>
			<th>Module Code</th>
			<th>Marks</th>
			<th>Year Registered</th> 
			<th>Department</th>
			<th>Level</th>
			<th>Action</th>
		</tr>
		<tr>
			<td><%= @result.student.reg_number %></td>
			<td><%= @result.course.module_code %></td>
			<td><%= @result.marks %></td>
			<td><%= @result.ac_year %></td>
			<td><%= @result.department.name %></td>
			<td><%= @result.level %></td>
			<td><%= link_to 'Edit', edit_admin_result_path(@result.id),class:'btn btn-primary'%> <%= link_to 'Delete', results_path, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger'%></td>
		</tr>
	</table>
<% else %>
  <p><h3>No resutls available now</h3></p>
<% end %>
  