<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Reg. number</th>
		<th>Email</th>
		<th>Sex</th>
		<th>ID/Passport</th>
		<th>Telephone</th>
		<th>Department</th>
		<th>Level</th>
		<th>Birth Date</th>
		<th>Father Name</th>
		<th>Mother Name</th>
		<th>Action</th>
	</tr>
	<% @student.each do |student| %>
	
	<tr>
		<td><% if student.profile_image_id? %>
			<%= image_tag attachment_url(student, :profile_image) %>
		<% end %>
		</td>
		<td><%= student.first_name %> <%= student.last_name %></td>
		<td><%= student.reg_number %></td>
		<td><%= student.email %></td>
		<td><%= student.sex %></td>
		<td><%= student.nid_passport %></td>
		<td><%= student.phone %></td>
		<td><%= student.department.name %></td>
		<td><%= student.level %></td>
		<td><%= student.dob%></td>
		<td><%= student.father_name%></td>
		<td><%= student.mother_name%></td>
		<td><%= link_to 'Edit', edit_admin_student_path(student),class:'btn btn-primary'%> <%= link_to 'Delete', admin_student_path(student), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger'%></td>
	</tr>
	
	<% end %>
</table>