<h2><%= @page_title%></h2>
<%= link_to  "Add New", new_admin_course_path, class:'btn btn-success pull-right' %>
<table class="table table-striped">
	<tr>
		<th>Module Code</th>
		<th>Module Name</th>
		<th>Department</th>
		<th>Level</th>
		<th>Credits</th>
		<th>Lecturer</th>
		<th>Action</th>
	</tr>
	<% @courses.each do |course|%>
	<tr>
		<td><%= course.module_code %></td>
		<td><%= course.module_name %></td>
		<td><%= course.department.name %></td>
		<td><%= course.level %></td>
		<td><%= course.credit %></td>
		<td><%= course.user.name %></td>
		<td> <%= link_to 'Edit', edit_admin_course_path(course), class:'btn btn-primary' %> <%= link_to 'Delete', admin_course_path(course), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %> </td>
	</tr>
	<% end %>
</table>